<div class="map-container">
  <div #mapContainer class="map-frame"></div>
  <div class="map-info">
    <h3>Our Location</h3>
    <p>Nandigaon, Telangana, India</p>
    <p><i class="fas fa-map-marker-alt"></i> Coordinates: 17.5078° N, 78.1993° E</p>
    <a href="https://www.google.pl/maps/place/Nandigaon,+Telangana/@17.5110307,78.1880997,15z/data=!3m1!4b1!4m6!3m5!1s0x3bcbf2001ed89c8b:0x3afea6fe339c1cc2!8m2!3d17.5078138!4d78.1992774!16s%2Fg%2F1tc_v16b?entry=ttu" 
       target="_blank" class="view-on-google">
      <i class="fas fa-external-link-alt"></i> View on Google Maps
    </a>
  </div>
</div>