<app-navigation></app-navigation>

<main>
  <section id="home">
    <app-home></app-home>
  </section>
  
  <section id="services">
    <app-service></app-service>
  </section>
  
  <section id="about">
    <app-about></app-about>
  </section>

  <section id="gallery">
    <app-gallery></app-gallery>
  </section>

  <!-- In your contact section or footer -->
<section class="contact-map">
    <h2>Find Us</h2>
    <app-map></app-map>
  </section>
</main>

<footer id="footer">
  <app-footer></app-footer>
</footer>