<footer class="footer">
    <div class="footer-container">
      <div class="footer-column footer-about">
        <h3 class="footer-heading">About Us</h3>
        <p>We are a passionate team dedicated to creating amazing digital experiences for our clients.</p>
      </div>
      
      <div class="footer-column">
        <h3 class="footer-heading">Quick Links</h3>
        <ul class="footer-links">
          <li><a [routerLink]="['/home']" fragment="home" class="footer-link">Home</a></li>
          <li><a [routerLink]="['/services']" fragment="services" class="footer-link">Services</a></li>
          <li><a [routerLink]="['/about']" fragment="about" class="footer-link">About</a></li>
          <li><a href="#" class="footer-link">Privacy Policy</a></li>
        </ul>
      </div>
      
      <div class="footer-column footer-contact">
        <h3 class="footer-heading">Contact Us</h3>
        <address>
          123 Main Street<br>
          City, State 10001<br>
          <abbr title="Phone">P:</abbr> (123) 456-7890
        </address>
        <div class="footer-social">
          <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      
      <hr class="footer-divider">
      
      <div class="footer-bottom">
        <p class="footer-copyright">&copy; 2023 flooring App. All rights reserved.</p>
        <p class="footer-credit">Designed with <i class="fas fa-heart heart-icon"></i> by Trivaj Team</p>
      </div>
    </div>
  </footer>